#inscrit {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    width: 980px;
}

#info-etudiant {
    display: grid;
    grid-template-columns: auto auto;
    width: 50em;
}

#info-residence {
    display: grid;
    width: 50em;
}