@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Regular', sans-serif;
}

#form-container, #select-container {
    color: white;
    background: rgb(97, 85, 85);
    text-align: center;
    padding: 10px;
}

input, label, button {
    padding: 5px;
    font-family: 'Roboto Bold', sans-serif;
}

#result-container, #result-select {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    background: rgb(91, 155, 180);
    color: whitesmoke;
}

#content, #content-select {
    justify-self: flex-start;
    align-self: center;
    width: 90%;
}

#content > p:hover {
    background: rgb(35, 41, 40)!important;
    color: white!important;
}

#closebtn, #closebtn-select {
    justify-self: flex-end;
    align-self: center;
}

#closebtn:hover, #closebtn-select:hover {
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    #form-container form, #select-container form {
        display: flex;
        flex-direction: column;
    }
    
}