table {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
    border-radius: 10px;
    width: 80%;
}

colgroup > col {
    background-color: yellow;
}

colgroup > col[span] {
    background-color: rgb(255, 21, 0);
}

caption {
    caption-side: bottom;
}

td, th {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
    border-radius: 10px;
    text-align: center;
}

tr:nth-child(even) {
    color: whitesmoke;
    background-color: rgb(67, 64, 60);
}

.avatar {
    display: block;
    border-radius: 50%;
    width: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.images {
    width: 50%;
}