*{
    box-sizing: border-box;
}

body {
    background: #1A1F16;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    display: block;
    border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.info-contact-key {
    font-weight: bolder;
}

.info-contact-value {
    font-style: italic;
}

.d-center {
    width: 50%;
    height: 10px;
    background-color: rgb(62, 62, 62);
}

.info {
    text-align: center;
}

a[href*=mailto]:link {
    text-decoration: none;
    color: whitesmoke;
}

#experience {
    background-color: #1E3F20;
    padding: 20px;
}

#formation {
    background-color: #345830;
    padding: 20px;
}

#info-contact {
    padding: 20px;
}

#info-contact > .info {
    border-top: 1px solid ;
    border-bottom: 1px solid rgb(185, 170, 170);
    padding: 10px;
}

.info-details {
    display: flex;
	flex-flow: row nowrap;
	justify-content: center;
    align-items: center;
}

.desc {
    width: 50%;
}

.title-desc{
    width: 50%;
}

.date {
    display: block;
}

#tab-formation > table {
    border: 1px solid white;
    width: 50%;
    text-align: center;
    margin: auto;
}

#tab-formation > table > caption {
    color: whitesmoke;
}

#tab-formation th {
    border: 1px solid white;
    padding: 10px;
}

#tab-formation td {
    border: 1px solid white;
    padding: 10px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #1A1F16;
    color: whitesmoke;
    height: 150px;
}

footer > div{
    text-align: center;
    color: whitesmoke;
    margin: 10px;
}

footer > div > a{
    color: whitesmoke;
    text-decoration: none;
}