* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

div {
    padding: 15px; 
    margin: 15px;
    clear: both;
    display: flex;
    align-items: center;
  }
  
  .div1 {
    float: left;
    background: red;
  }
  
  .div2 {
    float: right;
    background: yellow;
  }
  